My TTD.json
{
  "name": "My TTD",
  "nodes": [
    {
      "parameters": {
        "path": "get-tasks",
        "responseMode": "lastNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              }
            ]
          }
        }
      },
      "id": "489c834b-1394-4caa-b6e9-d1c98de8df94",
      "name": "GET Tasks",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1104,
        336
      ],
      "webhookId": "a0f8982c-7a41-4178-a720-5cba56b2d44c"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1HSVMja-pKgpQo24akMhK4lmAHeTJpXmrQw4ozaEHrcU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HSVMja-pKgpQo24akMhK4lmAHeTJpXmrQw4ozaEHrcU/edit#gid=0"
        },
        "options": {}
      },
      "id": "cfaba125-981d-4c48-9390-48afc74bdb1d",
      "name": "Read Tasks Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1328,
        336
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sPnVsGWImzEJpNnz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst rows = items.map(item => item.json);\n\n// Filter only open tasks (not completed)\nconst openTasks = rows.filter(row => \n  row.status !== 'completed' && \n  row.status !== 'done'\n);\n\nreturn [{\n  json: {\n    ok: true,\n    rows: openTasks\n  }\n}];"
      },
      "id": "a79018fd-0e6b-4beb-9cb0-ea0fd6b348af",
      "name": "Format Tasks Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        336
      ]
    },
    {
      "parameters": {
        "path": "get-notes",
        "responseMode": "lastNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              }
            ]
          }
        }
      },
      "id": "f26a4d28-e560-4b40-a8c4-236dbcaf7959",
      "name": "GET Notes",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1104,
        560
      ],
      "webhookId": "6c218eaa-c41c-474a-ad38-14375b773eef"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11oC1EodFRdap851WV2nocKBoxYdeif5UoxQi3IpvLUs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Notes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11oC1EodFRdap851WV2nocKBoxYdeif5UoxQi3IpvLUs/edit#gid=0"
        },
        "options": {}
      },
      "id": "a96901aa-9d2c-4046-a70f-11a27cae795e",
      "name": "Read Notes Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1328,
        560
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sPnVsGWImzEJpNnz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst rows = items.map(item => item.json);\n\nreturn [{\n  json: {\n    ok: true,\n    rows: rows\n  }\n}];"
      },
      "id": "308899bf-9d20-4d99-ae3b-e42771310b27",
      "name": "Format Notes Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        560
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "complete-task",
        "responseMode": "lastNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              }
            ]
          }
        }
      },
      "id": "302665ad-7e3a-4660-b957-5be42490136f",
      "name": "POST Complete Task",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1104,
        784
      ],
      "webhookId": "0af3caac-3445-4f3a-9839-f37d0eb5403e"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst query = $input.first().json.query || {};\n\n// Get task_id and secret from body or query\nconst task_id = body.task_id || query.task_id;\nconst secret = body.secret || query.secret;\n\n// Check secret\nif (secret !== 'klz-ttd') {\n  return [{\n    json: {\n      ok: false,\n      error: 'Unauthorized'\n    }\n  }];\n}\n\nif (!task_id) {\n  return [{\n    json: {\n      ok: false,\n      error: 'Missing task_id'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    task_id: task_id,\n    continue: true\n  }\n}];"
      },
      "id": "ca7b50ef-898b-4c26-b5cb-e69c6e70532f",
      "name": "Validate Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        784
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-continue",
              "leftValue": "={{$json[\"continue\"]}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "51ee8b37-9c97-40ad-b543-0cade8bc3aaa",
      "name": "IF Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1552,
        784
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1HSVMja-pKgpQo24akMhK4lmAHeTJpXmrQw4ozaEHrcU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HSVMja-pKgpQo24akMhK4lmAHeTJpXmrQw4ozaEHrcU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "task_id",
              "lookupValue": "={{$json[\"task_id\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "1e1e279a-d35d-4bb9-a6e2-9d145f3ff715",
      "name": "Find Task",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1808,
        800
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sPnVsGWImzEJpNnz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1HSVMja-pKgpQo24akMhK4lmAHeTJpXmrQw4ozaEHrcU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HSVMja-pKgpQo24akMhK4lmAHeTJpXmrQw4ozaEHrcU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "task_id": "={{$json[\"task_id\"]}}",
            "status": "completed",
            "updated_at": "={{new Date().toISOString()}}"
          },
          "matchingColumns": [
            "task_id"
          ],
          "schema": [
            {
              "id": "task_id",
              "displayName": "task_id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "3b96f0f8-4106-4ade-aa83-df873cd5f67f",
      "name": "Update Task Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2000,
        784
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sPnVsGWImzEJpNnz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ok: true,\n    message: 'Task marked as completed'\n  }\n}];"
      },
      "id": "5257a007-c9d3-40b6-ae03-bb1a91ce0fda",
      "name": "Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2224,
        784
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ok: false,\n    error: $json.error || 'Invalid request'\n  }\n}];"
      },
      "id": "ab5926bc-fd0b-4db2-9ff5-96de62a68bd8",
      "name": "Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        992
      ]
    },
    {
      "parameters": {
        "httpMethod": "OPTIONS",
        "path": "={get-tasks|get-notes|complete-task}",
        "responseMode": "lastNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "949a1d05-c6b0-40f1-a5ed-eb7a816c2bb6",
      "name": "OPTIONS CORS Preflight",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1104,
        1008
      ],
      "webhookId": "378ac582-e0ea-49e4-a9b2-a577cd93c7c4"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ok: true\n  }\n}];"
      },
      "id": "367c36da-96ee-4ecc-a191-07ca07d6725b",
      "name": "CORS OK Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        1008
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "GET Tasks": {
      "main": [
        [
          {
            "node": "Read Tasks Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Tasks Sheet": {
      "main": [
        [
          {
            "node": "Format Tasks Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Notes": {
      "main": [
        [
          {
            "node": "Read Notes Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Notes Sheet": {
      "main": [
        [
          {
            "node": "Format Notes Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Complete Task": {
      "main": [
        [
          {
            "node": "Validate Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Request": {
      "main": [
        [
          {
            "node": "IF Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Valid": {
      "main": [
        [
          {
            "node": "Find Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Task": {
      "main": [
        [
          {
            "node": "Update Task Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Task Status": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OPTIONS CORS Preflight": {
      "main": [
        [
          {
            "node": "CORS OK Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b2e3a53a-2477-4293-9908-009c3954aa0c",
  "meta": {
    "instanceId": "fff9bc485dbf4229bb6940ec23cffc379355d61e4e9e936e6be63d3c85a30181"
  },
  "id": "kMMvXbFQ43GX0ghd",
  "tags": []
}